main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #fff;
}
p div{
    font-size: 1.1rem;
}
/* body{
    background-color: #000;
    display: flex;
    align-items: center;
} */
.flex{
    display: flex;
    gap: 1rem;
}
img {
    max-height: 45vh;
    object-fit: contain;
}
.logo img{
    max-height: 200px;
}
.heading h4{
    color: #b02e30;
    font-size: 1.5rem;
}
.red {
    color: #b02e30;
}
.medium {
    font-size: 1.2rem;
}
.center {
    text-align: center;
}
.margin-top {
    margin-top: 1rem;
}
.bold {
    font-weight: 600;
}
.blue{
    color: #07407a;
}
li {
    margin-top: 4px;
}