main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #fff;
}
p div{
    font-size: 1.1rem;
    text-align: justify;
}
p{
    margin-top: 0;
    font-size: 1.2rem;
}
body{
    font-family: Bookman Old Style;
    text-align: justify !important;
}
.flex{
    display: flex;
    gap: 1rem;
}
img {
    width: 100vw; /* Full viewport width */
    /* max-height: 100vh; */
    object-fit: cover; 
}
.logo img{
    max-height: 200px;
}
.heading h4{
    color: #b02e30;
    font-size: 1.5rem;
}
.red {
    color: #b02e30;
}
.medium {
    font-size: 1.2rem;
}
.large {
    font-size: 1.9rem;
}
.xlarge {
    font-size: 3rem;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
    width: 100%;
}
.margin-top {
    margin-top: 1rem;
}
.bold {
    font-weight: 600;
    color: #07407a;
}
.blue{
    color: #07407a;
}
li {
    margin-top: 4px;
    text-align: justify;
}
ul {
    width: 95%;
    text-align: justify;
}