main {
    background-color: #fff;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
background-color: #fff;
font-family: Bookman Old Style;

}
.images{
    display: block; /* Ensure normal document flow for stacking */
    width: 100%;

}
.image-container {
    position: relative; /* Isolate each container */
    width: 100%; /* Occupy the full width of the viewport */
    height: fit-content; /* Each image gets full viewport height */
    overflow: hidden; /* Prevents overflow of images */
    margin: 0;
}
.brochure-image{
    object-fit: contain;
    max-width: 950px;
}
.download button{
    padding: 0.5rem 2rem;
    color: #fff;
    background-color:#07407a;
    border-radius: 5px;
    border: none;
    
}

.download button:hover{
    background-color: #f89623;
}
.download {
    display: flex;
    justify-content: flex-end;
}