main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    gap: 1rem;
    background-color: #f2f2f2;
}

.categories-container {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    color: rgb(199,8,8);
}
span {
    color: #333;
}
a {
    text-decoration: none;
    color: rgb(199,8,8);

}