body {
    padding: 1rem;
    background-color: #f6f6f6;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.country-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    gap: 1rem;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    width: fit-content;
    padding: 1rem;

}
.country-card div{
    color: #07407a;
}
.country-card div:hover{
    color: #f89623;
}
.country-card span{
    margin-right: 0.5rem;
    color: #000;
}

.tab-buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 1rem;
}
.tab-buttons button:hover {
    background-color: #f89623;
    color: #fff;
}
.tab-buttons button{
    background-color: transparent;
    outline: 2px solid #f0f0f0;
    color:#07407a;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    border: none;
    
    
}
.tab-buttons button.active{
    background-color: #07407a;
    color: white;
}
.text-input{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1%;
}

.text-input input,textarea,select{
    height: 50px;
    border-radius: 5px;
    margin-top: 8px;
    width: 20%;
    box-shadow: none;
    outline: 1px solid #e0e0e0;
    border: none;
    padding-left: 10px;
    background: transparent;
}
.text-input input:focus,textarea:focus,select:focus{
    outline: 2px solid #07407a;

}
.text-input span {
    color:#07407a;

}