main {
  background-color: #f6f6f6;
  position: relative;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif' */
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Heveltica'; */
  
  
}
body{
  background-color: #f6f6f6;
}
button {
  cursor: pointer;
}
.main-content {
  background-color: #f6f6f6;
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
}

.left-sidebar{
  background-color: #fdfdfd;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;

}
.left-sidebar h2{
  color: rgb(199,8,8);
  color: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  font-family: 'Avenir';

}
.catalogs {
  display: flex;
  background: rgb(199,8,8);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  border-radius: 10px;
  color: white;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
}


.right-content{
  display: flex;
  gap: 1rem;
  /* grid-template-columns: 75% 23%; */
  /* grid-template-columns: 100%; */
  justify-content: center;

}
.banner img {
  max-width: 100%;
  height: 73vh;
}
.right-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.card {
  background-color: transparent;
  border-radius: 10px;
  /* padding: 1rem; */
  width: 100%;
  /* border: 2px solid #b32f2d; */
  height: 100%;
}
.card img {
  max-width:100%;
  }
.rfq-container{
  margin: 1rem 3%;
  background-color: #f6f6f6;
}
.rfq-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rfq-container h2{
  margin-bottom: 0;
  margin-top: 0;
}
.rfq-container h2{
  font-family: 'Avenir';
}
.rfq-list{
  display: flex;
  padding: 1% 0%;
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.rfq-card {
  width: 47%;
  max-height: 38vh;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;

}
.rfq-heading {
  color: rgb(199,8,8);
  color: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
}
.rfq-heading a{
  color: rgb(199,8,8);
  color: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  text-decoration: none;
  font-family: 'Avenir';
}
.rfq-subheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rfq-subheading p {
  margin: 0;
}
.rfq-content {
  color: gray;
}
.rfq-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-wishlist{
  padding: 0.5rem 2rem;
  /* outline: 2px solid #b32f2d; */
  color: white;
  background: rgb(199,8,8);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  border: none;
  border-radius: 5px;
}

.btn-enquire{
  padding: 0.5rem 2rem;
  border: none;
  /* outline: 2px solid #b32f2d; */
  color: white;
  background: rgb(199,8,8);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  border: none;
  border-radius: 5px;

}

.btn-seeMore {
  padding: 0.2rem 2rem;
  outline: 2px solid #b32f2d;
  color: white;
  background: rgb(199,8,8);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  border: none;
  border-radius: 5px;
  height: fit-content;
}

.view-all {

  color: rgb(199,8,8);
  color: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
}
/* .category-item>a{
  text-decoration: none;
  color: #333;
} */
.category-item:hover {
  color: rgb(199,8,8);
  
}
.outer-product-container {
  display: none;
  background-color: #fff;
  position: absolute;
  height: 350px;
  width: 50%;
  top: 110px;
  left: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: #333;

}
.outer-product-container>a {
  text-decoration: none;
  color: #333;
}

.outer-product-container>a:hover{
  color: rgb(199,8,8);
}
.category-products{
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 2%;
  max-height: 50vh;
  flex-wrap: wrap;
  margin-right: 100%;
}

.category-products .active{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 250px;
}

/* 

.tab {
    transition: border-color 0.3s ease-in-out;
    background-color: #f0f0f0;
    padding: 5px 1rem;
    border-radius: 5px;
}

 */

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgb(199,8,8);
}
.tab {
  border-bottom: 2px solid transparent; /* Start with no visible border */
  transition: border-color 0.3s ease-in-out;
  background-color: #f0f0f0;
  padding: 5px 1rem;
  border-radius: 5px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.tab.active {
  cursor: pointer;
  background-color: #d42505;
  color: #f0f0f0;
}

.tabs span:active {
  border-bottom: 2px solid rgb(212, 37, 5); /* Indicate active tab with a bottom border */
  font-weight: bold;
}
li{
  list-style: none;
}
.content {
  display: none;

}

.content.active {
  display: flex;
  opacity: 1;
}
.supplier-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1% 0%;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 46%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  /* max-width: 90%; */
}

.product-image img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.product-info {
  flex: 1;
  margin-left: 20px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  display: flex;
  align-items: center;
}

.product-title h2 {
  margin-left: 10px;
  font-size: 1.5rem;
  color:rgb(212, 37, 5);
  margin: 0;
}

.status-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-icon, .info-icon {
  font-size: 1.5rem;
  color: #06d6a0;
}

.product-supplier {
  margin-top: 10px;
}

.product-supplier p {
  margin: 0;
  font-weight: bold;
}

.rating {
  margin-top: 5px;
  color: #FFD700; /* Gold star color */
}

.product-description {
  margin-top: 15px;
  color: #333;
}

.product-actions {
  margin-top: 15px;
}

.product-actions button {
  color: #f6f6f6;
  background: rgb(212, 37, 5);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 0.9rem;
}

.favourites-button {
  background-color: white;
  color: #073b4c;
  border: 1px solid #073b4c;
}

.product-date {
  text-align: right;
  color: #888;
  font-size: 0.9rem;
}

.product-date p {
  margin: 0;
}

/* .new-arrival-container{
  display: grid;
  grid-template-columns: 5% 85% 5%;
  padding: 2%;
  gap: 1rem;
  background:antiquewhite;
  width: 100%;
}
.new-products {
  display: flex;
}
.new-arrival-product {
  display: grid;
  grid-template-rows: 70% 30%;
  border-radius: 5px;
  background-color: #fdfdfd;
  padding: 0.5rem 1rem;
  height: 260px;
  width: 210px;
  margin:0 1rem;
}

.new-arrival-product img{
  max-width: 200px;
  max-height: 150px;
  object-fit: contain;
  align-self: end;
}


.control-buttons{
  align-self: center;
  color: #f2f2f2;
  background-color: rgb(199,8,8);
  border-radius: 8px;
  padding: 0.7rem;
  width: fit-content;
  margin-left: 4%;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.control-buttons:hover {
  background-color: transparent;
  color: rgb(199,8,8);
  outline: 2px solid rgb(199,8,8);
} */



.new-arrival,
.ready-to-buy,
.featured-products-title {
  color: rgb(212, 37, 5);
  font-family: 'Avenir';
}
.new-arrival-container {
  display: grid;
  grid-template-columns: 5% 89% 5%;
  padding: 2%;
  gap: 1rem;
  background: bisque;
}
.featured-products-container {
  display: grid;
  grid-template-columns: 5% 89% 5%;
  padding: 2%;
  gap: 1rem;
  background: antiquewhite;
}
.ready-to-buy-container {
  display: grid;
  grid-template-columns: 5% 89% 5%;
  padding: 2%;
  gap: 1rem;
  background: burlywood;
}
.new-products,
.ready-to-buy-products,
.featured-products {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* Ensures smooth scrolling */
  gap: 1rem; /* Adjust spacing between products */
  width: 100%; 
  scrollbar-width: none;
}

.new-arrival-product,
.ready-to-buy-product,
.featured-product {
  display: grid;
  grid-template-rows: 60% 40%;
  border-radius: 5px;
  background-color: #fdfdfd;
  padding: 0.5rem 1rem;
  height: 260px;
  width: 170px;
  margin: 0 1rem;
  scroll-snap-align: start; 
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

}

.new-arrival-product img,
.ready-to-buy-product img,
.featured-product img {
  /* max-width: 200px;
  max-height: 150px; */
  width: 160px;
  height: 140px;
  /* object-fit: contain; */
  align-self: center;
  border-radius: 5px;
}

.control-buttons {
  align-self: center;
  color: #f2f2f2;
  background-color: rgb(199, 8, 8);
  border-radius: 8px;
  padding: 0.7rem;
  width: fit-content;
  margin-left: 4%;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}
.control-buttons a{
  /* color: #f2f2f2; */
  color: inherit;
  text-decoration: none;
}

.control-buttons:hover {
  background-color: transparent;
  color: rgb(199, 8, 8);
  outline: 2px solid rgb(199, 8, 8);
}

.control-buttons a:hover {
  color: rgb(199, 8, 8);
}


.flex-between{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
.flex-between button{
  font-size: 1rem;
}
.popular-products{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2% 4%;
  background-color: #c49860;
}
.popular_product {
  display: block;
  width: fit-content;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}
.popular_product h4 {
  margin: 0;
}

.popular_product a {
  text-decoration: none;
  color:#333;
}

.popular_product a:hover{
  color: rgb(199, 8, 8);
}
.more-values{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-bottom: 2rem;
  margin-top: 0rem;
}
.values-container {
  display: flex;
  width: 100%;
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 2%;
}
.value-card {
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(199, 8, 8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: ease-in 0.3s;
  

}
.value-card a{
  text-decoration: none;
  color: inherit;
}
.value-card:hover{
  background: rgb(212, 37, 5);
  background: linear-gradient(90deg, rgba(199,8,8,1) 35%, rgba(238,98,0,1) 100%);
  color: #fdfdfd;

}

.buyer-contries,
.supplier-contries{
  padding: 2%;
  justify-content: center;
  background-color: #e3b579;

}
.countries-container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 2rem;
  background-color: #fdfdfd;
  padding: 2%;
  border-radius: 5px;
  
}
.country {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.country a{
  text-decoration: none;
  color: inherit;
}

.customer-testimonies{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: transparent;
  padding-right: 2%;
  overflow-x: scroll;
}
.customer-testimonies img{
  max-width: 20%;
}
.testimony{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.testimony-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}