body{
    font-family: Arial, sans-serif;
    color: #333;
}
main {
    padding: 2%;
}
h1 {
    font-family: 'Avenir';
    color: 07407a;
}
h2 {
    font-family: 'Avenir';
    color:07407a;
}
.list-item {
    margin-left: 1.5rem;
}