body{
    background-color: #f2f2f2;
}
main {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 5%;
    gap: 1rem;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}

.categories-container {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0.7rem;
    cursor: pointer;
    width: fit-content;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);

}
h4 {
    color: #333
}
span {
    color: #333;
}
a {
    text-decoration: none;
    color: #07407a;

}
.back-container {
    width: fit-content;
    background-color: #f2f2f2;
    margin-top: 32px;
    margin-left: 4%;
    display: flex;
    gap: 3rem;
    align-items: center;

}
.back-container>h1 {
    color: #07407a;

}
.back-btn {
    color: #f2f2f2;
    background-color: #07407a;
    border-radius: 5px;
    padding: 0.7rem;
    width: fit-content;
    margin-left: 4%;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}

.back-btn:hover {
    background-color: transparent;
    color: #07407a;
    outline: 2px solid #07407a;
}